<template>
  <div class="product-section" id="my-product">
    <h4>Produk Lain dari <b-link :to="'/profile/' + detailProduct.farmer._id"><strong>{{ detailProduct.farmer.name }}</strong></b-link></h4>
    <b-card-group v-if="!isLoading" deck class="card-container">
      <b-row style="margin: 0">
        <b-col
          cols="6"
          md="4"
          lg="3"
          style="margin-bottom: 30px"
          v-for="product in allProductsbyfid"
          :key="product._id"
        >
          <b-card :img-src="product.img_url" img-alt="Card image">
            <!-- ngelempar id ke url params sebelumnya setting routenya dulu di folder router -->
            <b-link
              :href="'/product/detail/' + product.name + '/' + product._id"
              class="stretched-link"
            ></b-link>
            <p>{{ product.name }}</p>
            <p>Rp {{ product.price }} / {{ product.gram_per_price }} gram</p>
            <!-- <p><star-rating :rating="3.5" :read-only="true" :increment="0.01" :star-size="20"></star-rating></p> -->
            <b-form-rating
              class="p-0"
              id="rating-inline rating-readonly"
              no-border
              readonly
              inline
              value="4.5"
              show-value
              color="#ff8800"
            ></b-form-rating>

            <p>{{ product.farmer.name }}</p>
            <p><b-icon-geo-alt /> Yogyakarta</p>
            <div>
              <b-button
                class="btn add-btn"
                style="z-index:1;position: relative"
                @click.once="onSubmit(product)"
                v-if="product.qty > 0"
                variant="success"
              >
                Beli
              </b-button>
              <b-button
                class="btn nostock-btn"
                style="z-index:1;position: relative"
                disabled
                v-else
                variant="secondary"
              >
                Stok Habis
              </b-button>
            </div>
          </b-card>
        </b-col>
      </b-row>
    </b-card-group>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
  name: "OtherProduct",
  methods: {
    ...mapActions(["fetchProductsbyfid", "addToCart"]),
    onSubmit(product) {
      this.addToCart({
        product: product,
        quantity: 1,
      });
      alert("Produk telah ditambahkan ke keranjang");
    },
  },
  computed: {
    ...mapGetters(["allProductsbyfid", "isLoading", "detailProduct"]),
  },
  created() {
    this.id = this.detailProduct.farmer._id;
    this.fetchProductsbyfid(this.id);
  },
};
</script>

<style scoped>
.product-section {
  background-color: #fff;
  margin-top: 50px;
}

h1 {
  padding-bottom: 50px;
}

div.card {
  margin: 0;
}

strong {
  color: #28706c;
}

a {
  text-decoration: none;
}
</style>
