<template>
  <div>
    <b-card title="Info Pembayaran">
      <b-card-text class="upper-part">Total Produk</b-card-text>
      <b-card-text>{{ cartItemsTotal }}</b-card-text>
      <b-card-text class="upper-part">Total Biaya</b-card-text>
      <b-card-text>Rp {{ formatPrice(cartPriceTotal) }}</b-card-text>
      <b-card-text class="upper-part">Metode Pembayaran</b-card-text>
      <b-form-group v-slot="{ ariaDescribedby }">
        <b-form-radio
          v-model="payment"
          :aria-describedby="ariaDescribedby"
          name="a"
          value="1"
          >Transfer Bank</b-form-radio
        >
        <b-form-radio
          v-model="payment"
          :aria-describedby="ariaDescribedby"
          name="b"
          value="2"
          >Gopay</b-form-radio
        >
      </b-form-group>

      <b-form-checkbox
        id="subscription"
        class="opsi-subs"
        v-model="subscription.isSubs"
        name="subscription"
        switch
      >
        Berlangganan? <small>(opsional)</small>
      </b-form-checkbox>

      <b-form-group label="Jumlah Minggu:" v-show="subscription.isSubs">
        <b-form-select
          v-model="subscription.weekCount"
          :options="weekcount"
        ></b-form-select>
      </b-form-group>

      <b-form-group label="Hari:" v-show="subscription.isSubs">
        <b-form-checkbox-group v-model="subscription.dayCount">
          <b-form-checkbox value="senin">Senin</b-form-checkbox>
          <b-form-checkbox value="selasa">Selasa</b-form-checkbox>
          <b-form-checkbox value="rabu">Rabu</b-form-checkbox>
          <b-form-checkbox value="kamis">Kamis</b-form-checkbox>
          <b-form-checkbox value="jumat">Jumat</b-form-checkbox>
          <b-form-checkbox value="sabtu">Sabtu</b-form-checkbox>
          <b-form-checkbox value="minggu">Minggu</b-form-checkbox>
        </b-form-checkbox-group>
      </b-form-group>

      <b-card-text
        >Total Pembayaran : Rp {{ formatPrice(cartPriceTotal) }}</b-card-text
      >
      <b-button class="tombol-pesan" variant="success" @click="onSubmit()"
        >Pesan</b-button
      >
    </b-card>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  name: "InfoPembayaran",
  data() {
    return {
      payment: "",
      subscription: {
        isSubs: false,
        weekCount: 0,
        dayCount: [],
      },
      weekcount: [0, 1, 2, 3, 4, 5, 6, 7, 8],
    };
  },
  computed: {
    ...mapGetters(["cartItemsTotal", "cartPriceTotal"]),
  },
  methods: {
    ...mapActions(["addToPayment"]),
    onSubmit() {
      if (this.payment !== "" && this.subscription.isSubs == false) {
        this.addToPayment({
          paymentMethod: this.payment,
          subscription: this.subscription,
        });
        alert("Berhasil memesan")

      } else if (
        this.subscription.isSubs == true &&
        this.payment !== "" &&
        this.subscription.weekCount !== 0 &&
        this.subscription.dayCount.length !== 0
      ) {
        this.addToPayment({
          paymentMethod: this.payment,
          subscription: this.subscription,
        });
        alert("Berhasil memesan")
        
      } else {
        alert("Lengkapi Informasi Pembayaran");
      }
    },
    formatPrice(value) {
      let val = (value / 1).toFixed(2).replace(".", ",");
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
    },
  },
};
</script>

<style scoped>
.tombol-pesan {
  width: 100%;
}

.card-title {
  margin-bottom: 24px;
}

.upper-part {
  margin-bottom: 0;
}

.opsi-subs {
  margin-bottom: 5px;
}
</style>
