<template>
  <div class="orderan">
    <b-container>
      <b-row class="text-center">
        <b-col>Produk</b-col>
        <b-col cols="3">Harga satuan</b-col>
        <b-col>Jumlah</b-col>
        <b-col>Total</b-col>
        <b-col></b-col>
      </b-row>

      <hr class="solid" />

      <b-row v-for="item in allCart" :key="item.product._id">
        <b-col>
          <b-link
            :to="{
              path: '/product/detail/' + item.product.name + '/' + item.product._id,
            }"
          >
            <img
              class="img-fluid"
              :src="item.product.img_url"
              alt="Responsive image"
          /></b-link>
          <p>{{ item.product.name }}</p>
        </b-col>
        <b-col cols="3" class="text-center">
          Rp {{ formatPrice(item.product.price) }}
        </b-col>
        <b-col class="text-center">
          <button
            class="qty-button btn btn-sm btn-light"
            @click="onReduce(item.product._id, item._id, item.qty)"
          >
            -
          </button>
          {{ item.qty }}
          <button
            class="qty-button btn btn-sm btn-light"
            @click="onAdd(item.product._id, item._id, item.qty)"
          >
            +
          </button>
        </b-col>
        <b-col class="text-center">
          Rp {{ formatPrice(item.qty * item.product.price) }}
        </b-col>
        <b-col class="text-center">
          <button
            class="qty-button btn btn-sm btn-light"
            @click="deleteCart(item._id)"
          >
            <b-icon icon="trash" aria-hidden="true"></b-icon>
          </button>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  name: "Orderan",
  data() {
    return {
      value: 0,
    };
  },
  computed: {
    ...mapGetters(["allCart"]),
  },
  methods: {
    ...mapActions(["addQty", "reduceQty", "deleteCart", "getAllCart"]),
    onAdd(product, id, qty) {
      this.addQty({
        product: product,
        quantity: qty + 1,
        id: id,
      });
    },
    onReduce(product, id, qty) {
      this.reduceQty({
        product: product,
        quantity: qty - 1,
        id: id,
      });
    },
    formatPrice(value) {
      let val = (value / 1).toFixed(2).replace(".", ",");
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
    },
  },
  created() {
    this.getAllCart();
  },
};
</script>

<style scoped>
.orderan {
  margin: 50px 0 0;
}

img {
  width: 100%;
  min-height: 80px;
  object-fit: cover;
}

.b-form-spinbutton {
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
</style>
