<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>logo-semai.png">
    <title>Semai-Marketplace Hidroponik</title>
  </head>
  <body>
    <noscript>
      <strong>Semai</strong> merupakan platform komunitas yang menghubungkan para petani hidroponik untuk bertemu dengan marketnya
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
