<template>
  <div class="signin">
    <img class="logo" src="@/assets/logo-semai.png" alt="" />
    <b-row class="section1">
      <b-col class="left-side d-none d-md-block">
        <img class="pic" src="@/assets/amico2.png" alt="" />
      </b-col>

      <b-col class="right-side">
        <!-- Login part -->
        <b-form class="login" @submit.prevent="login" v-show="show">
          <h2 class="text-center">Masuk</h2>

          <b-form-group id="input-email">
            <label for="email-login">Email</label>
            <b-form-input
              id="email-login"
              v-model="FormLogin.email"
              type="email"
              required
            ></b-form-input>
          </b-form-group>

          <b-form-group @submit.stop.prevent>
            <label for="password-login">Password</label>
            <b-input-group>
              <b-form-input
                id="password-login"
                :type="this.passwordType"
                v-model="FormLogin.password"
                aria-describedby="password-help-block"
                required
              ></b-form-input>
              <b-input-group-append>
                <b-button
                  @click.prevent="showPassword"
                  variant="success"
                  class="mb-2"
                >
                  <b-icon :icon="this.icon"></b-icon>
                </b-button>
              </b-input-group-append>
            </b-input-group>
          </b-form-group>

          <ul class="ul-warning" v-if="errors.length > 0">
            <b-alert
              v-for="error in errors"
              :key="errors.indexOf(error)"
              show
              variant="warning"
              >{{ error }}</b-alert
            >
          </ul>

          <b-button
            variant="success"
            style="width: 100%"
            disabled
            v-if="isLoading"
          >
            <b-spinner small></b-spinner>
          </b-button>

          <b-button variant="success" style="width: 100%" type="submit" v-else>
            Login
          </b-button>
          <p class="helper">
            Belum punya akun?
            <a href="#" @click="show = !show"
              ><strong>Daftar Sekarang</strong></a
            >
          </p>
        </b-form>

        <!-- Register part -->
        <b-form class="form-register" @submit.prevent="register" v-show="!show">
          <h2 class="text-center">Daftar</h2>

          <b-form-group id="input-nama">
            <label for="nama-register">Nama</label>
            <b-form-input
              id="nama-register"
              v-model="FormRegister.nama"
              type="text"
            ></b-form-input>
          </b-form-group>

          <b-form-group id="input-email">
            <label for="email-register">Email</label>
            <b-form-input
              id="email-register"
              v-model="FormRegister.email"
              type="email"
              required
            ></b-form-input>
          </b-form-group>

          <b-form-group @submit.stop.prevent>
            <label for="text-password">Password</label>
            <b-input-group>
              <b-form-input
                id="text-password"
                :type="this.passwordType"
                v-model="FormRegister.password"
                aria-describedby="password-help-block"
                required
              ></b-form-input>
              <b-input-group-append>
                <b-button
                  @click.prevent="showPassword"
                  variant="success"
                  class="mb-2"
                >
                  <b-icon :icon="this.icon"></b-icon>
                </b-button>
              </b-input-group-append>
            </b-input-group>
          </b-form-group>

          <b-button
            variant="success"
            style="width: 100%"
            disabled
            v-if="isLoading"
          >
            <b-spinner small></b-spinner>
          </b-button>

          <b-button variant="success" style="width: 100%" type="submit" v-else>
            Register
          </b-button>
          <p class="helper">
            Belum punya akun?
            <a href="#" @click="show = !show"><strong>Login</strong></a>
          </p>
        </b-form>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import { mapGetters } from "vuex"; //import vuex

export default {
  name: "SignIn",
  data() {
    return {
      FormLogin: {
        email: "",
        password: "",
      },
      FormRegister: {
        email: "",
        password: "",
        nama: "",
      },
      show: true,
      passwordType: "password",
      icon: "eye",
      errors: [],
    };
  },
  methods: {
    showPassword() {
      if (this.passwordType == "password") {
        this.passwordType = "text";
        this.icon = "eye-fill";
      } else {
        this.passwordType = "password";
        this.icon = "eye";
      }
    },

    login: function() {
      let email = this.FormLogin.email;
      let password = this.FormLogin.password;
      this.errors = [];
      this.$store
        .dispatch("login", { email, password })
        .then(() => this.$router.push("/"))
        .catch((error) => {
          console.log(error.response);
          if (error.response.status == 401) {
            this.errors.push("Tidak dapat melakukan verifikasi pada akun anda");
          } else {
            this.errors.push("Email atau Password salah, silahkan coba lagi");
          }
        });
    },

    register: function() {
      let data = {
        email: this.FormRegister.email,
        password: this.FormRegister.password,
        name: this.FormRegister.nama,
      };
      let show = this.show;
      this.$store
        .dispatch("register", data)
        .then(
          () => (this.show = !show),
        )
        .catch((err) => console.log(err));
    },
  },
  computed: {
    ...mapGetters(["isLoading"]),
  },
};
</script>

<style scoped>
.signin {
  padding: 0 10%;
}

.section1 {
  margin-top: 10%;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0;
}

.pic {
  max-width: 100%;
}

.login {
  padding-top: 10%;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 10%;
  max-width: 100%;
}

.form-register {
  padding-top: 0%;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 0%;
  max-width: 100%;
}

#password-help-block {
  text-align: end;
}

h2 {
  font-weight: 700;
  padding-bottom: 5%;
}

label {
  color: #898989;
  font-weight: 700;
}

a {
  color: #28706c;
}

.helper {
  margin-top: 20px;
}

.form-control:focus {
  box-shadow: none;
  outline: none;
  box-shadow: none !important;
  border: 1px solid #ccc !important;
}

.ul-warning {
  padding: 0;
}

.alert-warning {
  margin: 0;
}
</style>
