<template>
  <div class="review-section">
    <b-row>
      <b-col class="left-side">
        <h1><strong>"Apa Kata Mereka?"</strong></h1>
      </b-col>

      <b-col cols="6" class="right-side" v-if="!isLoading">
        <carousel autoplay :autoplayTimeout="5000" loop :per-page="1">
          <slide v-for="review in allReviewsbyfid" :key="review._id">
            <b-card class="text-center">
              <img class="reviewer-img" src="../../assets/grey.jpg" alt="" />
              <p class="user-review-name">{{ review.user.name }}</p>

              <b-form-rating
                class="p-0"
                id="rating-inline rating-readonly"
                no-border
                readonly
                inline
                :value="review.rating"
                color="#ff8800"
              ></b-form-rating>

              <b-card-text>
                {{ review.comment }}
              </b-card-text>
            </b-card>
          </slide>
        </carousel>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
  name: "Review",
  data() {
    return {
      options: {
        rewind: true,
        gap: "1rem",
      },
    };
  },
  methods: {
    ...mapActions(["fetchReviewsbyfid"]),
  },
  computed: {
    ...mapGetters(["allReviewsbyfid", "isLoading"]),
  },
  created() {
    this.id = this.$route.params.id;
    this.fetchReviewsbyfid(this.id);
  },
};
</script>

<style scoped>
.review-section {
  background-color: #fff;
  padding: 50px 10% 0;
}

.left-side {
  background-color: #f9f7f2;
}

h1 {
  color: #28706c;
  margin: 0;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.row {
  margin: 0;
}

.col {
  padding: 0;
}

img {
  max-width: 100%;
}

.card {
  max-width: 70%;
  min-height: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.user-review-name {
  margin-bottom: 10px;
}

.reviewer-img {
  margin-bottom: 15px;
  border-radius: 50%;
  width: 85px;
}
</style>
