<template>
  <div class="akun-page">
    <Navbar />
    <h1>Akun page</h1>
    <Footer />
  </div>
</template>

<script>
import Navbar from "@/components/Navbar";
import Footer from "@/components/Footer";

export default {
  name: "Akun",
  components: {
    Navbar,
    Footer,
  },
};
</script>

<style scoped></style>
