<template>
  <div class="home">
    <Navbar />
    <Banner class="first-component" />
    <h3>Kategori</h3>
    <Kategori />
    <SegeraPanen />
    <TersediaSaatIni class="last-component" />
    <Footer />
  </div>
</template>

<script>
import Navbar from "@/components/Navbar";
import Banner from "@/components/PageContent/Banner";
import Kategori from "@/components/PageContent/Kategori";
import SegeraPanen from "@/components/PageContent/SegeraPanen";
import TersediaSaatIni from "@/components/PageContent/TersediaSaatIni";
import Footer from "@/components/Footer";
import axios from "axios";
// @ is an alias to /src

export default {
  name: "Home",
  components: {
    Navbar,
    Banner,
    Kategori,
    SegeraPanen,
    TersediaSaatIni,
    Footer,
  },
  //membuat array data produk untuk menyimpan hasil produk dari api nanti
  data() {
    return {
      products: [],
    };
  },
  //membuat method setProduct untuk menyimpan data api di array products
  methods: {
    setProduct(data) {
      this.products = data;
    },
  },
  mounted() {
    //get api dengan axios dan menyimpan response data dengan method setProduct
    axios
      .get("https://semai.herokuapp.com/api/product")
      .then((response) =>
        // console.log("berhasil",response),
        this.setProduct(response.data)
      )
      .catch((error) => console.log("gagal", error));
  },
};
</script>

<style scoped>
h3 {
  margin: 50px 10% 20px;
}
</style>
