<template>
  <div class="keranjang-page">
    <Navbar />
    <Breadcrumb class="first-component" />
    <b-row class="section1">
      <b-col cols="12" lg="8"> <Orderan /> </b-col>
      <b-col class="right-side" cols="12" lg="4"> <InfoPembayaran /> </b-col>
    </b-row>

    <Footer />
  </div>
</template>

<script>
import Navbar from "@/components/Navbar";
import Breadcrumb from "@/components/Breadcrumb";
import Orderan from "@/components/PageContentKeranjang/Orderan";
import InfoPembayaran from "@/components/PageContentKeranjang/InfoPembayaran";
import Footer from "@/components/Footer";

export default {
  name: "Keranjang",
  components: {
    Navbar,
    Breadcrumb,
    Orderan,
    InfoPembayaran,
    Footer,
  },
};
</script>

<style scoped>
.section1 {
  margin: 0 10% 0;
}

.right-side {
  padding-top: 30px;
  padding-bottom: 100px;
}
</style>
