<template>
  <div class="pesanan-page">
    <Navbar />
    <Breadcrumb class="first-component" />
    <PTab class="last-component" />
    <Footer />
  </div>
</template>

<script>
import Navbar from "@/components/Navbar";
import Breadcrumb from "@/components/Breadcrumb";
import PTab from "@/components/PageContent4/PTab";
import Footer from "@/components/Footer";

export default {
  name: "Pesanan",
  components: {
    Navbar,
    Breadcrumb,
    PTab,
    Footer,
  },
};
</script>

<style scoped></style>
