<template>
  <div class="ProCat">
    <Navbar />
    <Search class="first-component" />
    <Kategori />
    <Breadcrumb />
    <AllProduct class="last-component" />
    <Footer />
  </div>
</template>

<script>
import Navbar from "@/components/Navbar";
import Search from "@/components/PageContent2/Search";
import Kategori from "@/components/PageContent/Kategori";
import Breadcrumb from "@/components/Breadcrumb";
import AllProduct from "@/components/PageContent2/AllProduct";
import Footer from "@/components/Footer";

export default {
  name: "ProCat",
  components: {
    Navbar,
    Search,
    Kategori,
    Breadcrumb,
    AllProduct,
    Footer,
  },
};
</script>

<style scoped></style>
