<template>
  <div class="ProPem">
    <Navbar />
    <FormProfilePembeli class="first-component last-component" />
    <Footer />
  </div>
</template>

<script>
import Navbar from "@/components/Navbar";
import FormProfilePembeli from "@/components/FormProfilePembeli";
import Footer from "@/components/Footer";

export default {
  name: "ProPem",
  components: {
    Navbar,
    FormProfilePembeli,
    Footer,
  },
};
</script>

<style scoped></style>
