<template>
  <div class="bc-container">
    <!-- breadcrumb from bootstrap -->
    <b-breadcrumb>
      <b-breadcrumb-item to="/">Home</b-breadcrumb-item>
      <b-breadcrumb-item v-for="item in items" :key="item.path" :to="item.path">
        {{ item.meta.value }}
      </b-breadcrumb-item>
    </b-breadcrumb>
  </div>
</template>

<script>
export default {
  name: "Breadcrumb",
  data() {
    return {
      items: [],
    };
  },
  watch: {
    $route() {
      this.getRoute();
    },
  },
  methods: {
    getRoute() {
      this.items = this.$route.matched;
      console.log(this.$route);
    },
  },
  created() {
    this.getRoute();
  },
};
</script>

<style scoped>
.bc-container {
  margin: 20px 10% 0;
}

.breadcrumb {
  border-radius: 0;
  background-color: #f9f7f2;
}

a {
  color: #28706c;
}
</style>
