<template>
  <div class="footer d-none d-lg-block">
    <b-container>
      <img class="mt-4" src="../assets/logo-semai.png" alt="logo-footer" />
      <b-row>
        <b-col class="mt-4 mb-4">
          <p class="footer-desc">
            <strong style="color:#000">Semai</strong> merupakan platform
            komunitas yang <br />menghubungkan para petani hidroponik untuk<br />
            bertemu dengan marketnya
          </p>
          <p class="footer-copy">&copy; Copyright Semai 2021</p>
        </b-col>
        <b-col class="mt-4 mb-4">
          <p class="footer-help"><strong>Bantuan & Panduan</strong></p>
          <a class="footer-help" href="">Penjual</a><br /><a
            class="footer-help"
            href=""
            >Kebijakan dan Privasi</a
          ><br /><a class="footer-help" href="">FAQ</a>
        </b-col>
        <b-col class="mt-4 mb-4">
          <p class="footer-help"><strong>Ikuti Kami</strong></p>
          <a class="footer-help" href=""
            ><img width="24px" src="../assets/ig.png" alt="logo-sosmed"
          /></a>
          <a class="footer-help" href=""
            ><img width="24px" src="../assets/twitter.png" alt="logo-sosmed"
          /></a>
          <a class="footer-help" href=""
            ><img width="24px" src="../assets/fb.png" alt="logo-sosmed"
          /></a>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
export default {
  name: "Footer",
};
</script>

<style>
.footer {
  background-color: #f9f7f2;
  padding-left: 10%;
  padding-right: 10%;
  clear: both;
  margin-top: 50px;
  width: 100%;
}
.footer-desc {
  color: #898989;
  font-size: 14px;
}
.footer-copy {
  font-size: 14px;
}
.footer-help {
  font-size: 14px;
  color: #000;
}

.container {
  margin: 0;
  padding: 0;
}
</style>
