<template>
  <div>
    <b-navbar
      class="navbar-content fixed-top"
      toggleable="lg"
      type="light"
      variant="light"
      :class="{ 'navbar--hidden': !showNavbar }"
    >
      <b-navbar-brand to="/"
        ><img src="../assets/logo-semai.png" alt=""
      /></b-navbar-brand>

      <b-nav-item class="p-0 d-block d-lg-none" to="/search"
        ><b-icon icon="search"
      /></b-nav-item>

      <b-collapse id="nav-collapse" is-nav>
        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
          <b-nav-form>
            <b-navbar-nav>
              <b-container>
                <b-row>
                  <b-nav-item class="p-0" to="/search"
                    ><b-icon icon="search"
                  /></b-nav-item>
                  <b-nav-item class="p-0" href="#" to="/pesanan"
                    >Pesanan</b-nav-item
                  >

                  <b-navbar-brand to="/keranjang"
                    ><img
                      class="keranjang-icon ml-3"
                      src="../assets/keranjang.svg"
                      alt=""
                    />
                    <span class="mt-2 mr-3 cart-total"
                      >({{ cartItemTotal }})</span
                    >
                  </b-navbar-brand>
                </b-row>
              </b-container>
            </b-navbar-nav>
          </b-nav-form>

          <b-nav-item-dropdown v-if="_id" right>
            <template #button-content>
              <a id="username">{{ detailAccount.name }}</a>
            </template>
            <b-dropdown-item :to="'/akun/' + _id">Profil</b-dropdown-item>
            <b-dropdown-item href="#">Buka Toko</b-dropdown-item>
            <b-dropdown-item href="#" v-if="isLoggedIn" @click="logout">
              Keluar
            </b-dropdown-item>
          </b-nav-item-dropdown>

          <b-nav-item v-else right>
            <b-button class="masuk" type="submit" variant="success" to="/login">
              Masuk
            </b-button>
          </b-nav-item>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>

    <!-- Bottom Tab Navigation -->
    <b-navbar
      variant="light"
      class="d-block d-lg-none navbar-bottom fixed-bottom"
      role="navigation"
    >
      <b-nav class="w-100">
        <div class="d-flex flex-row justify-content-around w-100">
          <b-nav-item
            class="text-center"
            v-for="item in menuTabList"
            :key="item.route"
          >
            <router-link
              class="nav-link p-0"
              :to="item.route"
              exact-active-class="active"
            >
              <div
                className="row d-flex flex-column justify-content-center align-texts-center"
              >
                <b-icon :icon="item.icon" />
                <div style="font-size:12px">{{ item.label }}</div>
              </div>
            </router-link>
          </b-nav-item>
        </div>
      </b-nav>
    </b-navbar>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
  name: "Navbar",
  data() {
    return {
      showNavbar: true,
      lastScrollPosition: 0,

      menuTabList: [
        {
          route: "/",
          icon: "house-door-fill",
          label: "Home",
        },
        {
          route: "/pesanan",
          icon: "file-text-fill",
          label: "Pesanan",
        },
        {
          route: "/keranjang",
          icon: "bag-fill",
          label: "Keranjang",
        },
        {
          route: "/akun/" + localStorage._id,
          icon: "person-fill",
          label: "Akun",
        },
      ],
    };
  },
  created() {
    this._id = localStorage._id;
    this.fetchAccountDetail(this._id);
    this.getAllCart();
  },
  computed: {
    ...mapGetters(["detailAccount", "cartItemTotal"]),
    isLoggedIn: function() {
      return this.$store.getters.isLoggedIn;
    },
  },
  methods: {
    logout: function() {
      this.$store.dispatch("logout").then(() => {
        this.$router.push("/login");
      });
    },
    ...mapActions(["fetchAccountDetail", "getAllCart"]),
    onScroll() {
      const currentScrollPosition =
        window.pageYOffset || document.documentElement.scrollTop;
      if (currentScrollPosition < 0) {
        return;
      }
      // === Scroll to hide and show navbar ===
      // Stop executing this function if the difference between
      // current scroll position and last scroll position is less than some offset
      if (Math.abs(currentScrollPosition - this.lastScrollPosition) < 60) {
        return;
      }
      this.showNavbar = currentScrollPosition < this.lastScrollPosition;
      this.lastScrollPosition = currentScrollPosition;
    },
  },
  mounted() {
    window.addEventListener("scroll", this.onScroll);
  },
  beforeDestroy() {
    window.removeEventListener("scroll", this.onScroll);
  },
};
</script>

<style scoped>
.navbar-content {
  padding-left: 10%;
  padding-right: 10%;
}

.keranjang-icon {
  align-content: center;
  margin-left: 5px;
}

.navbar-bottom {
  height: 70px;
}
.nav-link {
  color: #898989;
}
.nav-link .active {
  color: #28706c;
  font-weight: bold;
}
.nav-link .active img {
  fill: #28706c !important;
}
.cart-total {
  font-size: 16px;
  font-weight: 600;
  color: #fd6a35;
}

#username {
  color: #28706c;
  font-weight: 600;
}

li {
  list-style-type: none;
}

.navbar.navbar--hidden {
  box-shadow: none;
  transform: translate3d(0, -100%, 0);
}
</style>
