<template>
  <div class="SP">
    <!-- menggunakan v-if untuk mengecek kondisi state isLoading -->
    <div class="text-center" v-if="isLoading">
      <b-spinner variant="success" label="Text Centered"> </b-spinner>
    </div>

    <b-card-group v-if="!isLoading" deck class="card-container">
      <b-row style="margin: 0">
        <b-col
          cols="6"
          md="4"
          lg="3"
          style="margin-bottom: 30px"
          v-for="product in allProducts"
          :key="product._id"
        >
          <b-card :img-src="product.img_url" img-alt="Card image">
            <!-- ngelempar id ke url params sebelumnya setting routenya dulu di folder router -->
            <b-link
              class="stretched-link"
              :to="{
                path: '/product/detail/' + product.name + '/' + product._id,
              }"
            />
            <p>{{ product.name }}</p>
            <p>Rp {{ product.price }} / {{ product.gram_per_price }} gram</p>
            <!-- <p><star-rating :rating="3.5" :read-only="true" :increment="0.01" :star-size="20"></star-rating></p> -->
            <b-form-rating
              class="p-0"
              id="rating-inline rating-readonly"
              no-border
              readonly
              inline
              value="4.5"
              show-value
              color="#ff8800"
            ></b-form-rating>

            <p>{{ product.farmer.name }}</p>
            <p><b-icon-geo-alt /> Yogyakarta</p>
            <div>
              <b-button
                class="btn add-btn"
                style="z-index:1;position: relative"
                @click.once="onSubmit(product)"
                v-if="product.qty > 0"
                variant="success"
              >
                Beli
              </b-button>
              <b-button
                class="btn nostock-btn"
                style="z-index:1;position: relative"
                disabled
                v-else
                variant="secondary"
              >
                Stok Habis
              </b-button>
            </div>
          </b-card>
        </b-col>
      </b-row>
    </b-card-group>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
  name: "SPProduct",
  created() {
    this.category = this.$route.params.kategori; //mengambil kategori dari url params
    this.fetchProductsFilter(this.category); //melempar kategori ke action vuex fetchProductsFilter
  },
  computed: {
    ...mapGetters(["allProducts", "isLoading"]),
  },
  methods: {
    ...mapActions(["fetchProductsFilter", "addToCart"]),
    onSubmit(product) {
      this.addToCart({
        product: product,
        quantity: 1,
      });
      alert("Produk telah ditambahkan ke keranjang");
    },
  },
};
</script>

<style scoped>
.SP {
  margin: 50px 10% 0;
}

.row {
  width: 100%;
}

div.card {
  margin: 0;
}
</style>
