<template>
  <div class="ptab-container">
    <b-tabs content-class="mt-3" justified>
      <b-tab
        title="Menunggu Konfirmasi"
        :title-link-class="'tab-title-class'"
        active
      >
        <div v-if="allOrder == ''">
          <img class="empty-img" src="../../assets/amico.png" alt="#" />
          <p class="pesandulu">
            Pesan dulu yuk! <b-link to="/">mulai belanja</b-link>
          </p>
        </div>

        <b-row v-for="item in allOrder" :key="item._id">
          <b-col>
            <b-link
              :to="{
                path:
                  '/product/detail/' +
                  item.product.name +
                  '/' +
                  item.product._id,
              }"
            >
              <b-img
                class="img-fluid"
                :src="item.product.img_url"
                alt="Responsive image"
              />
            </b-link>
            <p>{{ item.product.name }}</p>
          </b-col>
          <b-col cols="3" class="text-center">
            Rp {{ formatPrice(item.product.price) }}
          </b-col>
          <b-col class="text-center">
            {{ item.qty }}
          </b-col>
          <b-col class="text-center">
            Rp {{ formatPrice(item.qty * item.product.price) }}
          </b-col>
        </b-row>
      </b-tab>

      <b-tab title="Sedang Dikirim" :title-link-class="'tab-title-class'">
        <div v-if="allOrder == '' && allInDelivery == ''">
          <img class="empty-img" src="../../assets/amico.png" alt="#" />
          <p class="pesandulu">
            Pesan dulu yuk! <b-link to="/">mulai belanja</b-link>
          </p>
        </div>

        <div v-if="allOrder != '' && allInDelivery == ''">
          <img class="empty-img" src="../../assets/amico.png" alt="#" />
          <p class="pesandulu">
            Pesanan belum dikirim. <b-link to="/">Belanja lagi?</b-link>
          </p>
        </div>

        <div v-for="item in allInDelivery" :key="item._id" style="padding-bottom: 15px">
          <b-row>
            <b-col>
              <b-link
                :to="{
                  path:
                    '/product/detail/' +
                    item.product.name +
                    '/' +
                    item.product._id,
                }"
              >
                <b-img
                  class="img-fluid"
                  :src="item.product.img_url"
                  alt="Responsive image"
                />
              </b-link>
              <p>{{ item.product.name }}</p>
            </b-col>
            <b-col cols="3" class="text-center">
              Rp {{ formatPrice(item.product.price) }}
            </b-col>
            <b-col class="text-center">
              {{ item.qty }}
            </b-col>
            <b-col class="text-center">
              Rp {{ formatPrice(item.qty * item.product.price) }}
            </b-col>
          </b-row>
          <b-row class="d-flex flex-row-reverse">
            <b-button class="selesai-btn" type="submit" variant="success" style="margin-right: 15px" @click="SelesaiDikirim(item)">
              Selesai
            </b-button>
          </b-row>
        </div>
      </b-tab>

      <b-tab title="Selesai">
        <div v-if="allOrder == '' && allInDelivery == '' && allPaidOrder == ''">
          <img class="empty-img" src="../../assets/amico.png" alt="#" />
          <p class="pesandulu">
            Pesan dulu yuk! <b-link to="/">mulai belanja</b-link>
          </p>
        </div>

        <div v-if="allOrder != '' && allInDelivery == '' && allPaidOrder == ''">
          <img class="empty-img" src="../../assets/amico.png" alt="#" />
          <p class="pesandulu">
            Pesanan belum dikirim. <b-link to="/">Belanja lagi?</b-link>
            <b-link to="/">mulai belanja</b-link>
          </p>
        </div>

        <div v-if="allInDelivery != '' && allPaidOrder == ''">
          <img class="empty-img" src="../../assets/amico.png" alt="#" />
          <p class="pesandulu">
            Pesanan sedang dikirim. <b-link to="/">Belanja lagi?</b-link>
          </p>
        </div>

        <b-row v-for="item in allPaidOrder" :key="item.product._id">
          <b-col>
            <img
              class="img-fluid"
              :src="item.product.img_url"
              alt="Responsive image"
            />
            <p>{{ item.product.name }}</p>
          </b-col>
          <b-col cols="3" class="text-center">
            Rp {{ formatPrice(item.product.price) }}
          </b-col>
          <b-col class="text-center">
            {{ item.qty }}
          </b-col>
          <b-col class="text-center">
            Rp {{ formatPrice(item.qty * item.product.price) }}
          </b-col>
        </b-row>
      </b-tab>
    </b-tabs>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  name: "Orderan",
  data() {
    return {
      value: 0,
    };
  },
  computed: {
    ...mapGetters(["allOrder", "allPaidOrder", "allInDelivery"]),
  },
  methods: {
    ...mapActions(["getOrderedCart", "getPaidCart", "getInDelivery", "addToDone"]),
    formatPrice(value) {
      let val = (value / 1).toFixed(2).replace(".", ",");
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
    },
    SelesaiDikirim(item) {
      this.addToDone({
        item: item,
      });
    },
  },
  created() {
    this.getOrderedCart();
    this.getInDelivery();
    this.getPaidCart();
  },
};
</script>

<style scoped>
.ptab-container {
  margin: 50px 10% 0;
  text-align: center;
}

.empty-img {
  margin-top: 100px;
}

a {
  color: #fd6a35;
}

.pesandulu {
  margin: 50px 0 100px;
}

.tab-title-class {
  color: #000;
}
</style>
